/* Header */
header {
    /* Styling for the header */
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
}

#home header {
    /* Use the "cliff" image as a background */
    background: no-repeat lightgrey url(images/cliff_ocean.jpg);
    background-size: 100%;
}

.main-header {
    /* Style the main header box that contains the logo and navigation labels */
    background-color: rgb(255, 255, 255, 0.8);
    width: 700px;
    margin: 2em auto 0 auto;
    min-height: 100px;
    height: 100px;
}

.main-header .logo img {
    /* Re-position the logo graphic within the main header box */
    width: 100px;
    height: 100px;
    margin: 0 2em 0 0;
    float: left;
}

/* Navigation */
.main-menu {
    /* Re-position the navigation menu within the main header box */
    margin-left: 227px;
    font-weight: 400;
}

.main-menu ul li {
    /* Remove the navigation label bullets and make them appear horizontal instead of vertical, 
    Create a faint vertical line border */
    list-style-type: none;
    display: inline-block;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    border-left: 1px solid rgba(202, 204, 202, 0.6);
    line-height: 100px;
    text-transform: uppercase;
    font-size: 14px;
}

.main-menu ul li a {
    /* Modify the look of the hypertext links and get rid of the underlines */
    text-decoration: none;
    color: #888;
}

.main-menu ul li a:hover {
    /* Change the font color of the links and create a mouse hovering effect */
    color: #9ed034;
}

.main-menu ul li.active {
    /* Highlight the home button when a user is on the page */
    background: #9ed034;
    border: none;
}

.main-menu ul li.active a {
    /* Highlight the home button when a user is on the page - Adds a status indicator */
    color: #fff;
}

/* Main */
main h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #9ed034;
    padding-top: 10px;
}

.main-content {
    margin: 50px;
}

/* Partners */
section {
    width: 100%;
    background-color: #4288c3;
}

section #partners {
    /* Center the logos/icons within the section area */
    width: 1200px;
    padding: 2em 0 2em 0;
    margin: 0 auto;
    text-align: center;
}

section #partners .partner {
    /* Make each partner's logo/icon to appear within a circular shape */
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.5em;
    background-color: #fff;
    border-radius: 50%;
}

section #partners .partner img {
    width: 90px;
    height: 90px;
}

/* Footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}

/* Position the copyright on the left and social media on the right */
footer #nondisclaimer .copy {
    padding: 3.5em 3.5em 3.5em 13em;
    float: left;
    font-size: 0.9em;
}

footer #nondisclaimer .social {
    padding: 2.5em;
    margin-right: 9.25em;
    float: right;
}

/* Forcing the disclaimer to the bottom of the page */
footer #disclaimer {
    clear: both;
}

footer #disclaimer p {
    font-size: 0.85em;
    text-align: center;
}

/* Styling the "font awesome"  social medias to appear as icons and also a hover effect */
footer #nondisclaimer .social .fa {
    padding: 15px;
    font-size: 15px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 0 4px;
    border-radius: 50%;
}

footer #nondisclaimer .social .fa:hover {
    opacity: 0.7;
}

/* Styling the social media icons to appear in round shapes */
footer #nondisclaimer .social .fa-facebook {
    background: #3b5998;
    color: white;
}

footer #nondisclaimer .social .fa-twitter {
    background: #55acee;
    color: white;
}

footer #nondisclaimer .social .fa-instagram {
    background: #125688;
    color: white;
}